<script type="module">
    import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'

    function Template(id, model) {
        const _name = model.name;
        return {
            $template: id,
            get name() {
                return model.name;
            }
        }
    }

    const app = createApp({
        Template,
        data: {
            list: ["A", "B", "C"],
            template: '#t1',
            suffix: ''
        }
    });

    app.mount();
</script>

<div v-scope>
    <button type="button" @click="data.list = ['X','Y']">Change Data</button>
    <button type="button" @click="data.suffix = '1'">Change Suffix</button>
    <p><b>v-for Template Call (get)</b></p>
    <div v-for="k in data.list" :key="k">
        <div v-scope="Template('#myTemplate' + k + data.suffix, {get name() {return 'For-' + k; }})"></div>
    </div>

    <template id="myTemplateA">
        <div>Template A Val: {{name}}</div>
    </template>
    <template id="myTemplateB">
        <div>Template B Val: {{name}}</div>
    </template>
    <template id="myTemplateC">
        <div>Template C Val: {{name}}</div>
    </template>
    <template id="myTemplateA1">
        <div>Template A1 Val: {{name}}</div>
    </template>
    <template id="myTemplateB1">
        <div>Template B1 Val: {{name}}</div>
    </template>
    <template id="myTemplateC1">
        <div>Template C1 Val: {{name}}</div>
    </template>
    <template id="myTemplateX">
        <div>Template X Val: {{name}}</div>
    </template>
    <template id="myTemplateY">
        <div>Template Y Val: {{name}}</div>
    </template>
    <template id="myTemplateX1">
        <div>Template X1 Val: {{name}}</div>
    </template>
    <template id="myTemplateY1">
        <div>Template Y1 Val: {{name}}</div>
    </template>

    <button @click="data.template = '#t2'">Change Template</button>
    <p>p: {{data.template}}</p>

    <template v-for="template in [data.template]" :key="template">
        <div v-scope="{ $template: template, get name() { return 'terry' + template; } }"></div>
    </template>

    <template id="t1">
        <p>Template t1: {{name}}</p>
    </template>
    <template id="t2">
        <p>Template t2: {{name}}</p>
    </template>
</div>
